$valid_color: #458044;
$invalid_color: #ff696d;
$helptext_color: #803526;
$button-color: #557570;
$button-border-color: #3D615B;

.field_div {
  display: flex;
  flex-direction: column;

  input {
    border-radius: 6px;

  }
}

.help_text {
  font-size: 12px;
  color: $helptext_color;
}

.form_field {
  height: 1.4rem;
}

.valid_field {
  border: 1px solid $valid_color;
}

.invalid_field {
  border: 1px solid $invalid_color;
}

.errorlist {
  list-style-type: None;
  font-size: 15px;
  color: $helptext_color;
}

.form_button {
  margin-top: 1rem;
  background-color: $button-color;
  border: 2px solid $button-border-color;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
}