$image-div-color: #c3d3d0;
$image-border-color: #3d4c49;
$margin-size: 2rem;

/*same style as image_div, diff class for no onclick*/
.market_div {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  margin: 2rem $margin-size;
  background-color: $image-div-color;
  border: 0.2rem solid $image-border-color;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 300px;
  object-fit: contain;

   h3 {
      margin: 0;
      margin-top: 1rem;
    }

    img {
      /*prevents image from stretching when using small screen*/
      display: block;
      max-width: 100% !important;
      max-height: 100%;
      width: auto;
      object-fit: contain;
    }
}

.market_div_mouseover {
  box-shadow: 5px 8px 35px #3d4c49;
}

/*single page market object container*/
.market_big_div {
  text-align: center;
  justify-content: center;
  margin: auto;

  h3 {
    margin: 0;
    margin-top: 1rem;
  }

  img {
    border: 2px solid $image-border-color;
    margin: auto;
  }
}

.italicspan {
  font-style: italic;
}