$nav-color: #748D88;
$nav-color2: #557570;
$extra-color1: #3D615B;
$extra-color2: #254741;
$opposite-color: #FFFFFF;
$active-link-color: #c8e2dd;


/*desktop*/
@media screen and (min-width: 1080px) {
  nav {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 0.8rem;
    top: 50rem;
    width: 80%;
    height: 32rem;
    display: block;
    //background: linear-gradient(to right, $nav-color, $nav-color2, $nav-color2);
    background-image: url("siltabanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    /*ISO EHKÄ */
    min-width: 950px;
    max-width: 1300px;
    box-shadow:  0px 5px 50px 15px #7c8b88;
  }

  .homelinktext {
    display: none;
    margin-left: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: wheat;
  }

  /*Home link container*/
  .logo_container {
    //background-color: rgba(179,154,139, 0.75);
    position: relative;
    background-image: url("logobackground.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 20px;
    top: 10px;
    width: 173.75px;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
    //transition: transform 1s ease-in-out;
    opacity: 0.8;
    img {
      //display: none;
      opacity: 1;
      max-width: 15rem;
      max-height: 10rem;
    }
  }

  /*home link hover*/
  .logo_container:hover {
    opacity: 1;
    transform: rotate(5deg);
  }

  .nav_button_div {
    display: none;
  }

  .nav_links_container {
    margin: auto;
    margin-top: 17.25rem;
    background-color: rgba(179,154,139, 0.55);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;

  }

  .link_div {

    a {
      font-size: 1.35rem;
      font-family: "Lato", sans-serif;
      color: #e1dad3;
      text-decoration: none;
      padding: 5px;
      text-shadow: 1px 1px 1px #000;
      transition: text-shadow 0.5s ease-in-out;
    }

    a:hover {
      text-shadow: 2px 2px 2px #000;
    }
  }


  .inner_link_div {
    position: absolute;
    background-color: $nav-color;
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.25rem;
      color: white;
      padding: 6px 6px;
    }
  }

  /*add this style class to clicked link*/
  .active_link {
    background-color: $active-link-color;
  }

}


/*-------------------------------mobile----------------------------------------*/
@media screen and (max-width:1080px) {
  nav {
    position: sticky;
    top: 0px;
    overflow: hidden;
    display: block;
    background: linear-gradient(to right, $nav-color, $nav-color2, $nav-color2);
  }

  nav a {
    float: left;
    display: block;
    color: $opposite-color;
    text-decoration: none;
    font-size: 2.4rem;
  }
  .homelinktext {
    display: none;
  }

  .logo_container {
    float: left;
    display: inline;
    width: 8rem;
    height: 8rem;
    margin: 0.2rem 1.8rem 0.1rem 1.8rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .nav_button_div {
    height: 100%;
    float: right;
    z-index: 2;
    background: radial-gradient(circle closest-side, $nav-color, $nav-color2);
    color: $extra-color2;
    padding: 2rem 2rem;
    /* temp solution*/
    margin-top: 10px;
  }

  .nav_links_container {
    position: fixed;
    float: left;
    /*Adjust this for drop down menu to appear right below the navbar*/
    top: 8.1rem;
    display: flex;
    flex-direction: column;
  }

  .link_div {
    background-color: $nav-color2;

    a {
      font-size: 1.35rem;
      padding: 6px 8px;
    }
  }

  .inner_link_div {
    position: fixed;
    /*adjust this for outer links to appear right on the border of upper link div*/
    left: 9rem;
    background-color: $nav-color;
    display: flex;
    flex-direction: column;

    a {
      font-size: 1.25rem;
      padding: 6px 6px;
    }
  }

  /*add this style class to clicked link*/
  .active_link {
    background-color: $active-link-color;
  }
}