$bg-color: rgba(195, 211, 208, 0.84);
$content-bg-color: rgba(241, 215, 198, 0.55);

@import 'reset';
@import 'navigation';
@import 'form';
@import 'images';
@import 'market';
@import 'tinymce';
@import 'map';

body {
  background-color: $bg-color;
  font-family: 'Heebo', sans-serif;
  font-size: 1.25rem;
}

.content_div {
  z-index: 1;
  margin: auto 2rem;
  img {
    max-width: 95%;
    object-fit: contain;
  }
}

.maindiv {
    //margin: auto 2rem;
    margin: 0;
}

/*desktop*/
@media screen and (min-width: 1080px) {

  .maindiv {
    margin: auto;
    display: block;
  }

  .content_div {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    width: calc(80% - 3rem);
    background-color: $content-bg-color;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    border-radius: 10px 10px 10px 10px;
    /*ISO EHKÄ */
    min-width: 944px;
    max-width: calc(1300px - 3rem);
  }

  .datespan {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
    font-size: 0.9rem;
  }

  .toprightspan {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1rem;
  }

}