$bg-color: #79a235;
$content-bg-color: #7c8b88;

@import 'reset';
@import 'navigation';
@import 'form';
@import 'images';
@import 'market';
@import 'tinymce';
@import 'map';

body {
  background-color: $bg-color;
}

.content_div {
  margin: auto 2rem;

  img {
    max-width: 95%;
    object-fit: contain;
  }
}

.maindiv {
    //margin: auto 2rem;
    margin: 0;
}

/*desktop*/
@media screen and (min-width: 1080px) {

  .maindiv {
    margin: auto;
    display: block;
  }

  .content_div {
    margin: auto;
    width: calc(80% - 10px);
    background-color: $content-bg-color;
    padding: 0 5px 5px 5px;
    border-radius: 10px 10px 10px 10px;
    /*ISO EHKÄ */
    min-width: 944px;
    max-width: 1300px;
  }

}