{% load widget_tweaks %}

<div class="field_div">

    {% if form.non_field_errors %}
        <h3>Käyttäjää ei löydy. Tarkista sähköposti ja salasana</h3>
    {% endif %}

    {% for field in form %}
        {{ field.label_tag }}
        {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="invalid_field" %}
              {{ field.errors }}
            {% else %}
                {% render_field field class="valid_field" %}
            {% endif %}
        {% else %}
            {% render_field field class="form_field" %}
        {% endif %}
        {% if field.help_text %}<span class="help_text">{{ field.help_text|safe }}</span>{%  endif %}
    {% endfor %}
</div>