{% extends 'base.html' %}
{% block content %}
<div class="content_div">
    <h2>Ajankohtaista</h2>
<ul class="listaus_ul">
    {% for ak in all_ak %}
            <li><span style="font-weight: bold"><a href="{% url 'ajankohtaista' ak_pk=ak.pk %}">{{ ak.otsikko }}</a></span>
                <small class="italicspan">{{ ak.pvm|date:'d.m.y H:i' }}</small><br>
                <small>{{ ak.kuvaus }}</small>
            </li>
    {% endfor %}
</ul>
{%  if all_ak.has_other_pages %}
    <div class="paginator_container">
        {%  if all_ak.has_previous %}
            <a href="?sivu={{ all_ak.previous_page_number }}"><<</a>
        {% endif %}
        <span class="current_page">{{ all_ak.number }} / {{ all_ak.paginator.num_pages }}</span>
        {%  if all_ak.has_next %}
            <a href="?sivu={{ all_ak.next_page_number }}">>></a>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock %}