{% extends 'base.html' %}
{% block content %}
<div class="content_div">
    <h2>Ajankohtaiset artikkelit aikajärjestyksessä</h2>
    {% for ak in all_ak %}
        <ul>
            <li><span style="font-weight: bold"><a href="{% url 'ajankohtaista' ak_pk=ak.pk %}">{{ ak.otsikko }}</a></span>
               <small>{{ ak.kuvaus }}</small>
               <small>{{ ak.pvm }}</small>
            </li>
        </ul>
    {% endfor %}
    <div class="paginator_container">
        {%  if all_ak.has_previous %}
            <a href="?sivu={{ all_ak.previous_page_number }}">Edellinen sivu</a>
        {% endif %}
        <span class="current_page">{{ all_ak.number }} / {{ all_ak.paginator.num_pages }}</span>
        {%  if all_ak.has_next %}
            <a href="?sivu={{ all_ak.next_page_number }}">Seuraava sivu</a>
        {% endif %}
    </div>
</div>
{% endblock %}