{% extends 'base.html' %}
{%  load fb_versions %}

{% block content %}
    <div class="content_div">
    <h2 align="center"><a href="{% url 'uusi_markkina' %}">Uusi ilmoitus</a></h2>
    <div class="images_flex_container">
    {% for ilmo in kaikki_ilmoitukset %}
        <a href="{% url 'markkina' ilmoitus_pk=ilmo.pk %}">
        <div class="market_div">
            <h3>{{ ilmo.otsikko }}</h3>
            <span>{{ ilmo.get_ilmoitustyyppi_display }}</span>
            <span>{{ ilmo.pvm|date:'d.m.y H:i' }}</span>
            <img src="{{ ilmo.thumbnail.url }}" id="{{ ilmo.pk }}">
            <span>{{ ilmo.teksti }}</span>
            <span>{{ ilmo.ilmoittaja }}</span>
        </div>
        </a>
    {% endfor %}
    </div>
    </div>
{% endblock %}