{% extends 'base.html' %}
{% block content %}
<div class="content_div">
    <h2>{{ otsikko }}</h2>
    <ul class="listaus_ul">
    {% for tapahtuma in all_tapahtuma %}
           <li><span style="font-weight: bold">
               <a href="{% url 'tapahtumat' tapahtuma_pk=tapahtuma.pk %}">{{ tapahtuma.otsikko }}</a>
                </span>
               <small class="italicspan">{{ tapahtuma.pvm|date:'d.m.y H:i' }}</small><br>
               <small>{{ tapahtuma.kuvaus }}</small>
            </li>
    {% endfor %}
    </ul>
{%  if all_tapahtuma.has_other_pages %}
    <div class="paginator_container">
        {%  if all_tapahtuma.has_previous %}
            <a href="?sivu={{ all_tapahtuma.previous_page_number }}"><<</a>
        {% endif %}
        <span class="current_page">{{ all_tapahtuma.number }} / {{ all_tapahtuma.paginator.num_pages }}</span>
        {%  if all_tapahtuma.has_next %}
            <a href="?sivu={{ all_tapahtuma.next_page_number }}">>></a>
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock %}