{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Veneskoski {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/front.js' %}"></script>
</head>
<body>
    <!-- Navigation bar--->
    {% include 'navigation.html' %}
    <!-- main div -->
    <div class="maindiv">
        {% block content %}
        <!--- load page contents here -->
        {% endblock content %}
    </div>
</body>
</html>
