{% extends 'base.html' %}
{%  load static %}
{% block content %}
    <div class="content_div">
    <h1>Veneskoski</h1>
		<p>Veneskoski on Kankaanpään kylä Pohjois-Satakunnassa. Kaunista kyläämme halkoo Karvianjoki ja yksi kylämme maamerkkejä
            on 1920 valmistunut kolmikaarinen kivisilta.</p>
		<br><p>Kylässämme on maakunnallisesti tunnettu Veneskosken kesäteatteri joka on rakennettu entisen kyläkoulun
        läheisyyteen vuonna 1990.</p>
	    <p>Vireä talkoohenki elää ja sen osoituksena on kesäksi 2019 valmistuva katettu katsomo.
            Tervetuloa vierailemaan Veneskoskelle.</p>
	    <br>
        <p>Veneskosken kesäteatterissa esitetään tänä kesänä näytelmä Poikamiehen Pesäpuu.
            Lisätietoja löydät <a href="{% url 'kesateatteri' %}">kesäteatteri</a> osiosta.</p>
    <div class="lbannerdiv">
            <img src="{% static 'Leader_pieni_web.jpg' %}">
            <img src="{% static 'Leader_Pohjois-Satakunta_logo-web.jpg' %}">
            <img src="{% static 'eulogo.jpg' %}">
        </div>
    </div>
{% endblock %}