{% extends 'base.html' %}
{% block content %}
    <div class="content_div">
        <div class="kylalink_div">
            <a href="{%  url 'kylalaistiedote' %}"><h3>Tiedotteet kyläläisille</h3></a>
        </div>
        <div class="kylalink_div">
            <a href="{% url 'markkina' %}"><h3>Markkinapaikka</h3></a>
        </div>
        <div class="kylalink_div">
             <a href="{% url 'kayttaja' %}"><h3>Oma profiili</h3></a></div>
        <div class="kylalink_div">
             <a href="{% url 'log_out' %}"><h3>Kirjaudu ulos</h3></a>
         </div>
    </div>
{% endblock content %}
