{% extends 'base.html' %}
{% block content %}
<div class="content_div">
    {%  if not user.is_authenticated %}
    <h2>Kirjaudu sisään</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
    <div class="field_div">
        {% if form.non_field_errors %}
            <h3>{{ form.non_field_errors }}</h3>
        {% endif %}
    </div>
        {% include 'includes/form.html' %}
        <button type="submit" class="form_button">Kirjaudu sisään</button>
    </form>
    {% else %}
    <h2>Olet kirjautunut sisään!</h2>
    {% endif %}
</div>
{% endblock %}
