{% extends 'base.html' %}

{% block content %}
    <div class="content_div">
    <div class="market_big_div">
        <h3>{{ ilmoitus.otsikko }}</h3>
        {% if ilmoitus.ilmoittaja == request.user %}
            <form action="/kylalaiset/markkinapaikka/poista/" method="post">
                {% csrf_token %}
                <input type="hidden" name="hidden_pk" value="{{ilmoitus.pk}}">
                <button type="submit">Poista ilmoitus</button>
            </form>
        {% endif %}
        <span>{{ ilmoitus.get_ilmoitustyyppi_display }}</span>
        <span>{{ ilmoitus.pvm }}</span>
        <img src="{{ ilmoitus.kuva.url }}" id="{{ ilmoitus.pk }}">
        <span>{{ ilmoitus.teksti }}</span>
        <span>{{ ilmoitus.ilmoittaja }}</span>
    </div>
    </div>
{%  endblock %}