{% extends 'base.html' %}
{%  load fb_versions %}

{% block content %}
    <div class="images_flex_container">
    {% for ilmo in kaikki_imoitukset %}
        <div class="image_div">
            <h3>{{ ilmo.otsikko }}</h3>
            <span>{{ ilmo.ilmoitustyyppi }}</span>
            <span>{{ ilmo.pvm }}</span>
            <img src="{% version ilmo.kuva 'large' %}" id="{{ ilmo.pk }}">
            <span>{{ ilmo.teksti }}</span>
            <span>{{ ilmo.ilmoittaja }}</span>
        </div>
    {% endfor %}
    </div>
{% endblock %}