{% load static %}
{% load linktags %}


{% block content %}
<nav class="navbar">
        <div class="logo_container"><a href="{% url "home" %}"><img src="{% static 'logo.png' %}" alt="logo"></a></div>
        <div class="nav_button_div">
            <a href="#" id="navbutton">☰</a>
        </div>
        <div class="nav_links_container">
            <div class="link_div"><a href="#" id="ajankohtaista_a">Ajankohtaista</a>
                <div class="inner_link_div" id="ajankohtaista_div">
                    <!-- get links for 5 latest ajankohtaista objects with includetag -->
					{% show_ak ajankohtaista %}
                    <div class="inner_link"><a href="{% url 'ajankohtaista' %}">Näytä lisää</a></div>
                </div>
            </div>
            <div class="link_div"><a href="#" id="tapahtumat_a">Tapahtumat</a>
                <!-- create links here in loop -->
                <div class="inner_link_div" id="tapahtumat_div">
                    {% show_tapahtuma tapahtuma %}
                    <div class="inner_link"><a href="{% url 'tapahtumat' %}">Näytä lisää</a></div>
                </div>
            </div>
            <div class="link_div"><a href="{% url 'kesateatteri' %}">Kesäteatteri</a></div>
            <div class="link_div"><a href="{% url 'valokuvat' %}">Valokuvia</a></div>
            <div class="link_div"><a href="{% url 'vuokrattavana' %}">Vuokrattavana</a></div>
            <div class="link_div"><a href="{% url 'yhdistykset' %}">Yhdistykset</a></div>
            <div class="link_div"><a href="#">Kartta</a></div>
            <div class="link_div"><a href="{% url "kylaindex" %}">Kyläläisille</a></div>
        </div>
    </nav>
{% endblock %}
