{% load static %}
{% load linktags %}


{% block content %}
<nav class="navbar">
        <a class="homelinktext" href="{% url 'home' %}">Veneskoski</a>
        <a href="{% url "home" %}">
        <div class="logo_container">
                <img src="{% static 'logo.png' %}" alt="logo">
        </div></a>
        {% if request.user %}
            <div class="usernamebox">
            {{ request.user.etunimi }} {{ request.user.suknimi }}
            </div>
        {% endif %}
        <div class="nav_button_div">
            <a href="#" id="navbutton">☰</a>
        </div>
        <div class="nav_links_container" id="navlinkcont">
            <div class="link_div"><a href="#" id="ajankohtaista_a">Ajankohtaista</a>
                <div class="inner_link_container" id="ajankohtaista_div">
                    <!-- get links for 5 latest ajankohtaista objects with includetag -->
					{% show_ak ajankohtaista %}
                    <div class="inner_link"><a href="{% url 'ajankohtaista' %}">Näytä lisää</a></div>
                </div>
            </div>
            <div class="link_div"><a href="#" id="tapahtumat_a">Tapahtumat</a>
                <!-- create links here in loop -->
                <div class="inner_link_container" id="tapahtumat_div">
                    {% show_tapahtuma tapahtuma %}
                    <div class="inner_link"><a href="{% url 'tapahtumat' %}">Näytä lisää</a></div>
                </div>
            </div>
            <div class="link_div"><a href="{% url 'kesateatteri' %}">Kesäteatteri</a></div>
            <div class="link_div"><a href="{% url 'valokuvat' %}">Kuvia</a></div>
            <div class="link_div"><a href="{% url 'vuokrattavana' %}">Vuokrattavana</a></div>
            <div class="link_div"><a href="{% url 'yhdistykset' %}">Yhdistykset</a></div>
            <div class="link_div"><a href="{% url 'kartta' %}">Kartta</a></div>
            <div class="link_div"><a href="{% url "kylaindex" %}">Kyläläisille</a></div>
        </div>
    </nav>
{% endblock %}
