{% extends 'base.html' %}

{% block content %}
    <div class="content_div">
    <h2>Luo käyttäjätunnus</h2>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="form_button">Luo käyttäjätunnus</button>
    </form>
    <a href="#" class="reginstructionlink">Mikä on rekisteröintiavain?</a>
    <div class="reginstructions">Rekisteröintiavain on ns. yleien salasana,
        jonka tarvitset voidaksesi rekisteröityä sivulle.
        Avain on kerrottuna pikkusoikankielisissä, tai saat kysymällä kyläyhdistykseltä.</div>
    </div>
{% endblock %}