{% extends 'base.html' %}
{% block content %}
<div class="content_div">
    <h2>{{ tapahtuma.otsikko }}</h2>
    <div class="tinymce_div">{{ tapahtuma.teksti|safe }}</div>
    <h4>{{ tapahtuma.pvm }}</h4>
    <!--- check if user is authenticated and is (s)he attending the event --->
    <input type="hidden" id="tapahtuma_hidden" value="{{ tapahtuma.pk }}">
    {% if user_attending %}
        <a href="{% url 'tapahtuma_peru' tapahtuma_pk=tapahtuma.pk%}"><span>Peru osallistumine</span></a></br>
    {% elif user.is_authenticated %}
        <a href="{% url 'tapahtuma_osallistu' tapahtuma_pk=tapahtuma.pk%}"><span>Osallistu</span></a></br>
    {% endif %}
    {% for os in osallistujat %}
    <span>{{os.osallistuja.first_name}}</span></br>
    {% endfor %}
</div>
{% endblock %}